.form-elements {
  display: flex;
  flex-direction: column;
}

.ranking {
  margin-left: 25%;
  list-style-type: none;
}

.user-ranking {
  display: block;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.score-ranking {
  display: block;
  padding-bottom: 0.625rem;
}

.ranking--header {
  padding-bottom: 1.5rem;
}

.form-screen {
  margin-bottom: 0.2rem;
}

.form_header {
  padding-bottom: 1.25rem;
}
