.container {
  display: flex;
  justify-content: space-between;
  padding: .4rem;
}

@media all and (min-width: 812px ){
  .container {
    padding: 5rem;
  }
}

@media all and (max-width: 600px) and (orientation: portrait) {
  html {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}