.container {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}

@media all and (min-width: 812px) {
  .container {
    padding: 5rem;
  }
}

@media all and (max-width: 600px) and (orientation: portrait) {
  html {
    transform: translateX(0%) translateY(50%) rotate(90deg);
  }
  .main-content {
    min-width: 100vw;
  }
}
