.container {
  display: flex;
  justify-content: space-between;
  padding: .4rem;
}

@media all and (min-width: 812px ){
  .container {
    padding: 5rem;
  }
}

@media all and (max-width: 600px) and (orientation: portrait) {
  html {
    transform: rotate(90deg);
  }
}