@import "grid-layout.css";
@import "form.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgrey;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  align-items: end;
}
@media all and (max-width: 670px ) {
  .container {
    padding: 1rem;
  }
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  width: 70%;
  box-shadow: 6px 6px 10px 0 darkgrey;
}

.aside-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 25%;
  border-radius: 5px;
  box-shadow: 6px 6px 10px 0 darkgrey;
}
