.current-name {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}
.current-time-score {
  font-size: 1rem;
  font-weight: 500;
  padding: .5rem 0;
  color: crimson;
}
.current-player-container {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}